.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#container_home{
    background-color: rgb(208, 218, 219);
    padding: 20px;
    margin-bottom: 20px;
  }
  
#input_form{
    border-radius: 30px; /* Rounded corners */
    padding: 30px; /* Add spacing */
    box-shadow: 2px 2px 10px rgba(0, 51, 255, 0.5);
    width: 60VW;
}

#input_form:hover{
    transform: rotate(1deg); 
    transform: scale(1.02);
    box-shadow: 4px 4px 10px rgba(0, 51, 255, 0.6);
}

#form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50VW;
}

#rec-button:hover {
    transform: scale(1.05);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: rgb(208, 218, 219);
    color: #101011;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
}

#books-container {
    margin-top: 40px;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.book-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    box-shadow: 1px 1px 10px rgba(0, 51, 255, 0.5);
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.book-info {
    flex: 1;
}

.book-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.book-meta {
    margin: 5px 0;
}

.book-description {
    margin-top: 10px;
}

.book-image {
    max-width: 150px;
}

/* #google-c{
    color:#4285F4;
}

#google-s{
    color:#DB4437;
}

#google-4{
    color:	#F4B400;
}

#google-3{
    color:	#4285F4;
}

#google-0-1{
    color:	#0F9D58;
}

#google-0-2{
    color:#DB4437;
}

.google-colors{
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1{
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box{
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding:12px;
    width: 600px;
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box{
    width: 700px;
    margin-top:50px; 
}

.episode-title{
    font-family: 'Kanit', sans-serif;
}

.episode-desc{
    font-family: 'Montserrat', sans-serif;
} */