.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#container_home{
    background-color: rgb(208, 218, 219);
    padding: 20px;
    margin-bottom: 20px;
  }
  
#input_form{
    border-radius: 30px; /* Rounded corners */
    padding: 30px; /* Add spacing */
    box-shadow: 2px 2px 10px rgba(0, 51, 255, 0.5);
    width: 60VW;
}


#input_form:hover{
    transform: rotate(1deg); 
    transform: scale(1.02);
    box-shadow: 4px 4px 10px rgba(0, 51, 255, 0.6);
}

#form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50VW;
}

#rec-button:hover {
    transform: scale(1.05);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: rgb(208, 218, 219);
    color: #101011;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
}

#books-container {
    margin-top: 40px;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.book-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    box-shadow: 1px 1px 10px rgba(0, 51, 255, 0.5);
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.book-card:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 10px rgba(0, 51, 255, 0.6);
}

.book-info {
    flex: 1;
}

.book-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgba(0, 51, 255, 0.5);
}
  
.book-meta {
    margin: 5px 0;
}

.book-description {
    margin-top: 10px;
}

.book-image {
    max-width: 150px;
}

.card-left {
    display: flex;
    flex-direction: column;
}

.sim-score {
    font-weight: bold;
}