.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

body {
    background-color: #000 !important;
}

/* body {
    background-image: url("../static/images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

#container_home{
    /* background-color: rgb(208, 218, 219); */
    padding: 0px;
    margin-bottom: 20px;
}

.home-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
  
.title-image {
    max-width: 100%;
    height: 40vh;
}
    
#input_form{
    border-radius: 30px; /* Rounded corners */
    padding: 30px; /* Add spacing */
    box-shadow: 2px 2px 10px rgba(254,173,51,0.3);
    width: 60VW;
    background-color: rgb(15, 15, 15);
    color: rgba(254,173,51,0.7);
}


#input_form:hover{
    transform: rotate(1deg); 
    transform: scale(1.02);
    box-shadow: 4px 4px 10px rgba(254,173,51,0.7);
}

#form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50VW;
}

.form-control {
    background-color: rgb(15, 15, 15) !important;
    color: rgba(254,173,51,0.7) !important;
}

.form-control::placeholder {
    color: gray!important; 
}

#rec-button:hover {
    transform: scale(1.05);
}

#button-advanced {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50VW;
    padding: 15px;
}

.btn.btn-primary{
    border-radius: 999px !important;
    color: #eeede880 !important;
    background-color: rgba(254,173,51,0.3) !important;
    border: none !important;
}

#show-advanced:hover {
    transform: scale(1.05);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.4);
    color: #101011;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
    color: rgba(254,173,51,0.7) !important;
}

#books-container {
    margin-top: 40px;
    padding-bottom: 60px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.book-card {
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    border: 1px transparent rgba(254,173,51,0.5);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(254,173,51,0.4);
    background-color: rgb(15, 15, 15);
    transition: transform 0.3s;
    color: #fff;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

.book-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.book-card:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 10px rgba(254,173,51,0.7);
}

.book-info {
    flex: 1;
}

.book-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgba(254,173,51,0.7);
}
  
.book-meta {
    margin: 5px 0;
}

.book-description {
    margin-top: 10px;
}

.book-image {
    max-width: 150px;
}

.card-left {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.sim {
    text-align: center;
}

.sim-score {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}

h2 {
    color: rgba(254,173,51,0.7) !important;
}

.loading {
    font-size: 2em;
    
}

/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background-color: rgb(15, 15, 15) !important;
    opacity: 1 !important;
    backdrop-filter: none;
    padding: 30px;
    border-radius: 10%;
    max-width: 800px;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
    color: rgba(255, 250, 240, 0.7) !important;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: floralwhite;
}


.no-results-card {
    background-color: rgba(254,173,51,0.4);
    border-radius: 10px;
    border: 2px dashed rgba(254,173,51,0.7);;
    max-width: 500px;
    margin: 40px auto;
    color: #191919;
    /* box-shadow: 4px 4px 10px rgba(254,173,51,0.7); */
    animation: pulse 1.5s infinite;
  }
  
.emoji {
    animation: bounce 1.2s infinite;
}
  
@keyframes pulse {
    0% {
      box-shadow: 2px 2px 10px rgba(254,173,51,0.7);
    }
    50% {
      box-shadow: 2px 2px 30px rgba(254,173,51,0.7);
    }
    100% {
      box-shadow: 2px 2px 10px rgba(254,173,51,0.7);
    }
}
  
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }


@media (max-width: 800px) {
    #books-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* optional: center cards in the column */
    }

    .book-card {
        max-width: 700px;
        width: 80%;
    }

    .preview {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .preview .book-title {
        text-align: center;
    }

}
